
.r1{
   background-color: aqua ;
    
}
.r2{
    
    
}
.r3{
    background-color: azure;
}
.r4{
    background-color: pink;
}
.r5{
    background-color: beige;
}
.r6{
    background-color: bisque;
}
.day{
    background-color: rgb(238, 214, 36);
}
.HTML{
    background-color: aquamarine;
}
.JAVA{
    background-color: blanchedalmond;
}
.CSS{
    background-color: burlywood;
}
.C{
    background-color: rgb(232, 203, 227);
}
.Webdev{
background-color: rgb(107, 163, 171);
}
.hindi{
background-color: rgb(184, 213, 128);
}
.os{
    background-color: rgb(198, 183, 161);
}